.executor__page {
  height: 100vh;
  max-height: 100vh;

  display: flex;
  flex-direction: column;
  width: 100vw;
  color: whitesmoke;
}

.executor__container {
  height: calc(100vh - 65px);
  display: flex;
  width: 100%;
}

.code_language {
  /* width: 100%; */
  padding: 5px 5px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}
.executor__code {
  color: azure;
  font-size: 1.1rem;
  flex-grow: 1;
  height: 100%;
  border-right: 5px solid white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.code__run {
  margin-right: 15px;
  border: 0;
  padding: 5px 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  border-radius: 5px;
}

.code__textarea,
.input__textarea,
.output__textarea {
  width: 100%;
  height: calc(100% - 54px);
  background: transparent;
  color: whitesmoke;
  font-size: 1.1rem;
  border: none;
  padding: 9px 1px 6px 6px;
  border-top: 1px solid white;
  align-items: center;
}

.code__header,
.input__header,
.output__header {
  display: flex;
  width: 100%;
  font-size: 1.3rem;
  background: rgba(162, 217, 224, 0.406);
  justify-content: space-between;
}

.code__heading,
.input__heading,
.output__heading {
  padding: 10px 0 0 5px;
  color: white;
}

.executor__io {
  flex-grow: 0;
  height: 100%;
  min-width: 230px;
  width: 28%;
  display: flex;
  flex-direction: column;
}

.executor__input {
  height: 50%;
  width: 100%;
  border-bottom: 5px solid white;
}

.executor__output {
  height: 50%;
  width: 100%;
}

textarea {
  resize: none;
}
